.westco-settings-icon {
  position: absolute;
  font-size: 1.5em;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all .2s; }
  .westco-settings-icon.active {
    top: 10px; }

.westco-dashboard-settings {
  position: absolute;
  top: 0;
  left: -10px;
  right: -10px;
  height: 0;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: #fafafa;
  transition: all .3s ease;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0; }
  .westco-dashboard-settings.active {
    overflow: scroll;
    padding: 10px;
    height: 100%; }
  .westco-dashboard-settings h3 {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; }
  .westco-dashboard-settings button.page-title-action {
    margin-left: 0;
    top: 0;
    transition: all .3s ease;
    outline: none; }
    .westco-dashboard-settings button.page-title-action:hover {
      cursor: pointer; }
  .westco-dashboard-settings .westco_dashboard_setting {
    margin-bottom: 10px; }
