.intercom-button {
  color: #ffffff;
  background: #323232;
  position: fixed;
  bottom: 0px;
  right: 0px;
  border-radius: 10px 0 0 0;
  z-index: 100;
  padding: 5px 10px;
  box-shadow: 0 3px 3px #cccccc;
  text-decoration: none;
  font-family: 'sans-serif';
  transition: all .2s linear; }
  .intercom-button p {
    color: #ffffff;
    font-family: sans-serif !important;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0 5px 0 0;
    transition: all .2s linear; }
  .intercom-button .westco-icon {
    display: inline-block;
    vertical-align: middle;
    background-size: contain !important;
    width: 60px;
    height: 30px; }
  .intercom-button:hover {
    background: #ffffff;
    box-shadow: 0 0 10px #dddddd;
    transition: all .2s linear; }
    .intercom-button:hover p {
      color: #25a8e0;
      transition: all .2s linear; }
